/*aumentar tamaño del contenerdo de div*/
.contenedor_social{
  width: 200px;
  height: 40px;
background-color: black;
position: relative;
}
.social_div{
  width: 200px;
  padding: 50px;
  display: none;
  background-color: white;
position: absolute;
    border-left-style:  groove;
border-bottom-style: groove;
border-right-style: groove;
border-width: 10px;
}
/*aumentar tamañna del div de social a*/

.control_btn{
  background-color: white;
  margin-top: -20px;
  margin-left: -40px;
  width: 40px;
  height: 10px;

}
.control_btn2{
  background-color: white;
  margin-top: -10px;
  margin-left: 5px;
  width: 40px;
  height: 10px;
}.control_btn3{
  background-color: white;
  margin-top: -10px;
  margin-left: 45px;
  width: 40px;
  height: 10px;
}.control_btn4{
  background-color: white;
  margin-top: -10px;
  margin-left: 90px;
  width: 40px;
  height: 10px;
}
.titulo_social{
  position: absolute;
   background-color: blue;
  position: absolute;
width: 200px;height: 30px;
border-left-style:  groove;
border-top-style: groove;
border-right-style: groove;
border-width: 10px;
}
/*rotacion de la imagen*/
.rotar_img{
    transition: 1.5s ease;
 	-moz-transition: 1.5s ease; /* Firefox */
 	-webkit-transition: 1.5s ease; /* Chrome - Safari */
 	-o-transition: 1.5s ease; /* Opera */}
.rotar_img:hover{
    transform : rotate(10deg);
	-moz-transform : rotate(10deg); /* Firefox */
	-webkit-transform : rotate(10deg); /* Chrome*/
	-o-transform : rotate(10deg); /* Opera */
      opacity: 0.5;
        }
        .caja-redes {
            margin: 0 auto;
            padding: 15px;
            position: relative;
            width: 390px;
        }
        .caja-redes a {
        	text-align: center;
        	font-size: 20px;
        }
        .icon-button {
        	background-color: white;
        	border-radius: 3.6rem;
        	cursor: pointer;
        	display: inline-block;
        	font-size: 2.0rem;
        	height: 3.6rem;
        	line-height: 3.6rem;
        	margin: 0 8px;
        	position: relative;
        	text-align: center;
        	width: 3.6rem;
        }
        .icon-button span {
        	border-radius: 0;
        	display: block;
        	height: 0;
        	left: 50%;
        	margin: 0;
        	position: absolute;
        	top: 50%;
        	-webkit-transition: all 0.3s;
        	-moz-transition: all 0.3s;
        	-o-transition: all 0.3s;
        	transition: all 0.3s;
        	width: 0;
        }
        .icon-button:hover span {
        	width: 3.6rem;
        	height: 3.6rem;
        	border-radius: 3.6rem;
        	margin: -1.8rem;
        }
        .linkedin span {
        	background-color: #4393BB;
        }
        .pinterest span {
        	background-color: #C92228;
        }
        .fa-github span {
        	background-color: #4099ff;
        }
        .facebook span {
        	background-color: #3B5998;
        }
        .google-plus span {
        	background-color: #db5a3c;
        }
        /* Icons */
        .icon-button i {
        	background: none;
        	color: white;
        	left: 0;
        	line-height: 3em;
        	position: absolute;
        	top: 0;
        	-webkit-transition: all 0.3s;
        	-moz-transition: all 0.3s;
        	-o-transition: all 0.3s;
        	transition: all 0.3s;
        	width: 3em;
        	z-index: 2;
        }
        .icon-button .icon-linkedin {
        	color: #4393BB;
        }
        .icon-button .icon-pinterest {
        	color: #C92228;
        }
        .icon-button .icon-twitter {
        	color: #4099ff;
        }
        .icon-button .icon-facebook {
        	color: #3B5998;
        }
        .icon-button .icon-google-plus {
        	color: #db5a3c;
        }
        .icon-button:hover .icon-linkedin, .icon-button:hover .icon-pinterest, .icon-button:hover .icon-twitter, .icon-button:hover .icon-facebook, .icon-button:hover .icon-google-plus {
        	color: white;
        }
        /*color para la conexion de  java*/
        .contenedor_texto_java{
       
        color: white; font-size: 17px; background-color: black;
        }
        .resaltarTexto{
          color: slateblue;
        }
        .contenedor_conex b{
          color: darkorchid;
        }
        .contenedor_conex .cometario{
          color: darkgreen;
        }.contenedor_conex .comentario{
          color: darkgreen;
        }
        .contenedor_conex .string{
          color: seagreen;
        } .contenedor_conex .texto{
          color: #db5a3c;
        }.contenedor_conex .getset{
          color: burlywood;
        }