  /*rotacion de la imagen*/
.rotar_img{
    transition: 1.5s ease;
 	-moz-transition: 1.5s ease; /* Firefox */
 	-webkit-transition: 1.5s ease; /* Chrome - Safari */
 	-o-transition: 1.5s ease; /* Opera */}
.rotar_img:hover{
    transform : rotate(10deg);
	-moz-transform : rotate(10deg); /* Firefox */
	-webkit-transform : rotate(10deg); /* Chrome*/
	-o-transform : rotate(10deg); /* Opera */
      opacity: 0.5;
        }
/**red social*/
.ul_social{display: block;list-style-type:none;}  
.red_social{ height: 100px; background-color: aqua; width: 200px; margin-left: -40px;}
.red_social{
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);text-align: center; font-family: fantasy;
}
.red_social:before{
	content: '';
    position: absolute;
	left: 50px;
	bottom: 20px;
    width: 0px;
	height: 0px;
	background: -webkit-linear-gradient(45deg, white 45%, #aaa 50%,#ccc 60%,white);
	background: -moz-linear-gradient(45deg, white 45%, #aaa 50%,#ccc 60%,white);
    -webkit-transition-duration: 0.4s;
}
.red_social:hover:before{
	width: 35px;
	height: 35px;
}
.dropdown ul {margin-top: -10px;}

.social_a{
    -moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
}
.social_a:before{
    content: '';
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	border-style: solid;
	border-width: 15px 15px 15px 15px;
	border-color: transparent transparent red transparent ;
	position: absolute;
	top: -15px;
	left: 50px;
	margin-left: -15;
}
/*diseño para social*/
.social_caja{
	width: 200px;
	height: 100px;
    margin-top: 20px;
}
.contenedor_social{background-color: white; width: 220px;
	height: 46px; border-top-style: groove; border-left-style: groove;border-right-style: groove;border-width: 10px;border-color: darkcyan}
.socail_div{
    transition-duration: 0.5s;
	width: 200px;
	height: 10px;
	border: 2px solid blue;
	background:red;
    margin-top: -19px;
}
.socail_div:hover{
   transition-duration: 0.5s;
	width: 200px;
    height: 100px;
	box-shadow: 2px 2px 4px #333;
	border-radius: 3px;
    background-color: white;
}

.social_caja hr{
   margin-top: -19.5px; 
    border-style: solid;
    border-color: black;
    border-width: 1px;
}